.main_content,
.main_layour,
.headerAbove,
.main_header{
    background-color: white !important;
}
.avatarItem{
    position: absolute;
    top: 40%;
    /* left:50%; */
}
/* 头像的样式 */
.avatarItem .ant-upload-select-picture-card{
    overflow: hidden;
    border-radius: 50px !important;
    width:100px;
    height:100px;
}