/* 代码框 */
pre {
    background-color: rgb(237, 237, 237);
}

/* 滚动条 */
pre::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* 滚动条轨道 */
pre::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* 滚动条滑块 */
pre::-webkit-scrollbar-thumb {
    background-color: #858585;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}