@import '~antd/dist/antd.less';

@XJTLUNAVY:#010544;
@XJTLUPURPLE:#CE57C1;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.componentbox{
  margin: 20px 40px;
  border:1px solid #e9eaec;
  background-color: #fff;
  border-radius: 8px;
}

a{
  color: @XJTLUPURPLE !important;
}

.ant-btn-primary{
  background: @XJTLUPURPLE !important;
}