@import '~antd/dist/antd.less';

@XJTLUNAVY:#010544;
@XJTLUPURPLE:#CE57C1;

// 每个模块的大卡片，保持与导航栏的距离
.componentbox{
  padding:19px 31px;
  margin: 20px 40px;
  border:1px solid #e9eaec;
  background-color: #fff;
  border-radius: 8px;
}

a{
  color: @XJTLUPURPLE;
}

.ant-btn-primary{
  background: @XJTLUPURPLE;
}